<% content_for :head do %>
<style type="text/css">
div.pages {
  font-weight: bold;
}
a.page, span.page {
  padding: 4px 6px;
}
a.page {
  margin: 0 3px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #0063dc;
}
a.page:hover {
  border: 1px solid #003366;
  background-color: #0063dc;
  color: #fff;
}
span.disabled_page {
  color: #b1aab1;
}
span.current_page {
  color: #ff0084;
}
/* Table */
table.grid {
  background: #fff;
  width: 630px;
}
table.grid th {
  color: white;
  background: #666699;
  font-weight: bold;
  padding: 0.5em;
  white-space: nowrap;
}
table.grid th a {
  color: white;
  text-decoration: underline;
}
table.grid td {
  text-align: left;
  padding: 0.5em;
  white-space: nowrap;
}
table.grid tr.even {
  background: #ddd;
}
table.grid tr.odd {
  background: #eee;
}
fieldset {
  padding: 1em 0em 1em 0em;
  background: #eee;
  border: 1px solid #AAA;
}
legend {
  font-size: 1.4em;
  padding: .4em;
  background: #ccc;
  border: 2px solid #AAA;
}
</style>
<script type="text/javascript">
jQuery.ajaxSetup({
  'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
})

$(document).ready(function($) {

  // Change per_page_select to use ajax
  $('select.per_page').livequery(function() {
    var onchange = $(this).attr('onchange').toString();
    var matches = onchange.match(/window\.location = "(.*)" \+ this/);
    var url = matches[matches.length - 1];
    $(this).attr('onchange', null)
    $(this).change(function() {
      $('#users').load(url + $(this).val());
      return false;
    })
  })

  // Change page_links to use ajax
  $('a.order_by, a.page, a.prev_page, a.next_page').livequery('click', function() {
    $('#users').load(this.href);
    return false;
  })

  // Change our search form to ajax
  $('#search_form').ajaxForm({target: '#users'});
})
</script>
<% end %>
<% title t("admin.users.index.page_title")  %>
<hr class="plain"/>
<% form_for [:admin, @search], :html => {:id => "search_form"}, :js_lib => :jquery do |f| %>
<fieldset>
  <legend><%= t("admin.users.index.legend")  %></legend>
  <% f.fields_for @search.conditions do |users| %>
    <div class="prepend-4 span-11 last">
    <label><%= t("admin.users.index.role_name") %></label>
    <%= select_tag "role_name", options_for_select([["-----", ""], ["Is_Site_admin", "site_admin"], ["Is_Admin", "admin"], ["Is_Modulator", "modulator"]] ) %>
    </div>
    <div class="prepend-4 span-11 last">
    <label><%= t("admin.users.index.match") %></label>
    <%= users.select :any, [ [t("admin.users.index.all"), false], [t("admin.users.index.any"), true] ] %>
    <%= t("admin.users.index.match_criteria") %>
    </div>
    <div class="span-3 prepend-1">
    <label><%= t("admin.users.index.login_contains") %></label>
    </div>
    <div class="span-11 last">
    <%= users.text_field :login_contains, :size => 20 %>
    </div>
    <div class="span-3 prepend-1">
    <label><%= t("admin.users.index.email_ends_with") %></label>
    </div>
    <div class="span-11 last">
    <%= users.text_field :email_ends_with, :size => 20 %>
    </div>
    <div class="span-3 prepend-1">
    <label><%= t("admin.users.index.active") %></label>
    </div>
    <div class="span-11 last">
    <%= users.select :active, [ ["-----", ""], ["true", "1"], ["false", "0"] ] %>
    </div>
  <% end %>
  <div class="prepend-4 span-11 last">
  <%= submit_tag t("admin.users.index.search_button") %>
  </div>
</fieldset>
<% end %>

<div class="prepend-12 span-4 last"><%= button_to t("admin.users.index.new_user_button"), new_admin_user_url,:method => :get %></div>

<div id="users">
  <%= render :partial => "users" %>
</div>
